<div class="row">
  <div class="col-xs-12	col-sm-6 col-md-3 col-lg-3">
    <mat-card>
      <mat-card-content>
        <a routerLink="/shopkeeper/dashboard/admin/products/add" target="_blank">
          <mat-icon class="material-icons">shopping_basket</mat-icon>
          Adicionar produto</a>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-xs-12	col-sm-6	col-md-3 col-lg-3">
    <mat-card>
      <mat-card-content>
        <a routerLink="/shopkeeper/dashboard/admin/stores/add" target="_blank">
          <mat-icon class="material-icons">store</mat-icon>
          Adicionar Loja</a>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-xs-12	col-sm-6 col-md-3 col-lg-3">
    <mat-card>
      <mat-card-content>
        <a routerLink="/shopkeeper/dashboard/admin/employees/add" target="_blank">
          <mat-icon class="material-icons">person</mat-icon>
          Adicionar funcionário</a>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-xs-12	col-sm-12	col-md-12 col-lg-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title><h2>Dashboard</h2></mat-card-title>
        <mat-card-subtitle>Bem-vido! Genrencie suas lojas e produtos de uma maneira simples.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <div class="row">
          <div class="col-xs-12	col-sm-12	col-md-6 col-lg-6">
            <p align="justify">
              Cadastre seus produtos e ganhe reputação, e com reputação vem o feedback
              então aumente suas lojas e funcionários.
            </p>

            <p align="center">Todo Lucro é seu!!!</p>

            <br>

            <p>iNeed é uma plataforma para sua visibilidade, oferecendo o que você
              precisa para divulgar sua loja e produtos.</p>

            <br>

            <p class="title-ineed" align="center">iNeed</p>
          </div>

          <div class="col-xs-12	col-sm-12	col-md-6 col-lg-6">
            <img src="../../../../assets/img/dashboard.png" class="image-dashboard img-responsive center-block" alt="Alguns benefícios que a plataforma iNeed oferece.">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
