<mat-card>
  <mat-card-title layout="row" fxLayoutAlign="center center">
    <span class="md-title">Recuperação de senha</span>
  </mat-card-title>
  <mat-card-subtitle fxLayoutAlign="center center">Enviaremos um email de redefinição pra você.</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="recoverPasswdForm">
      <div fxLayout="column">
        <div fxFlex="100">
          <mat-form-field fxFlex="100">
            <input matInput placeholder="Email" [formControl]="recoverPasswdForm.controls['email']" required>
            <mat-error *ngIf="recoverPasswdForm.controls['email'].hasError('required')">
              <strong>Informe</strong> seu email
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="column">
      <button fxFlex="100" mat-raised-button color="accent" [disabled]="!recoverPasswdForm.valid"
              (click)="recoverPasswd(recoverPasswdForm.value)">RECUPERAR SENHA
      </button>
    </div>
  </mat-card-actions>
</mat-card>
