@media (min-width: 600px) {
  td-dialog {
    width: 400px;
  }
}

@media (max-width: 599px) {
  td-dialog {
    width: 250px;
  }
}

@media (max-width: 374px) {
  td-dialog {
    width: 210px;
  }
}

.mat-form-field {
  width: 100%;
}
