<mat-card class="card">
  <mat-card-header>
    <mat-card-title></mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../../assets/profile-verification.svg" alt="Verification Icon" style="height: 200px;">
  <mat-card-content>
    <p align="justify">
      Sua conta está passando pela análise de perfil para ser aprovada, estamos muitos felizes pelo seu ingresso na
      plataforma. Em menos de <strong>24
      horas</strong> sua conta
      estará pronta para o uso.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/home">ENTENDI</button>
  </mat-card-actions>
</mat-card>
