<mat-toolbar class="toolbar-home">
    <h1 class="title-toolbar">iNeed</h1>
    <span class="example-spacer"></span>
    <button mat-raised-button class="button-sign-in" (click)="goTo('signin')">Entrar</button>
    <button mat-raised-button color="primary" class="button-sign-up" (click)="goTo('signup')">Cadastrar-se</button>
</mat-toolbar>

<header>
    <div style="height: 100vh;"></div>
    <div class="container img-responsive">
        <div class="carousel-caption">
            <div class="full-width animated fadeInUp">
                <!--h1 style="font-family: Lobster">iNeed</h1-->
                <h1>Queremos criar sua identidade, seu nome e seu valor.</h1>
                <p>A alma do comércio está na publicidade! E faremos esta ser a sua nova essência e seu
                    sucesso!</p>
                <button color="primary" mat-raised-button class="button-sign-up" (click)="goTo('signup')">Cadastrar-se</button>
            </div>
        </div>
    </div>
</header>

<main>


    <br>
    <br>


    <div class="row block-one">
        <div class="col-xs-12	col-sm-12 col-md-6 col-lg-6" data-aos="fade-up-right">
            <h2 style="color: white;">O que oferecemos?</h2>

            <br>

            <iframe width="100%" height="315"
                    src="https://www.youtube.com/embed/Zeh_I7Z9Xps?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                    allowfullscreen></iframe>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="div-box">
                <div class="div-box-item">
                    <div class="div-image-box">
                        <img src="assets/img/icon-crown.png" class="image-box">
                    </div>

                    <div class="div-text">
                        <h3>Reputação</h3>
                        <p>Com a reputação você pode chegar mais longe.</p>
                    </div>
                </div>
                <div class="div-box-item">
                    <div class="div-image-box">
                        <img src="assets/img/icon-store.png" class="image-box">
                    </div>

                    <div class="div-text">
                        <h3>Gerenciamento de lojas</h3>
                        <p>Organize suas lojas da melhor maneira.</p>
                    </div>
                </div>

                <div class="div-box-item">
                    <div class="div-image-box">
                        <img src="assets/img/chat.png" class="image-box">
                    </div>

                    <div class="div-text">
                        <h3>Bate-papo</h3>
                        <p>Converse com o seu cliente sem sair da nossa plataforma.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row block">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 style="font-family: Lobster" align="center">iNeed</h1>

            <br>

            <p style="max-width: 50vh; margin-left: auto; margin-right: auto;" align="center">Integre sua loja à plataforma que leva mais clientes até você. Quando o cliente busca algo que sua loja pode oferecer, ele será
                guiado pelo GPS do celular para sua loja! </p>
            <h3 align="center">
                E o lucro da venda é todo seu!
            </h3>
        </div>
    </div>

    <div class="row block-secondary">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 align="center" style="color: white">Acompanhe a evolução. Entre no iNeed! Você não vai querer perder
                essa oportunidade, vai?</h3>
            <button mat-raised-button color="white" style="margin: auto; display: block;" (click)="goTo('signup')">Cadastrar-se</button>
        </div>
    </div>


    <div class="row block">
        <h3 align="center">Mais sobre o <span style="font-family: Lobster">iNeed</span></h3>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="icon love"></div>
            <h4 align="center">O que oferecemos?</h4>
            <br>
            <p style="max-width: 80%; margin-left: auto; margin-right: auto;">
                São a publicidade e a propaganda que definem o comércio. O que diferencia uma bodega de uma grande loja (a sua) é o
                cartaz estampado em sua fachada e nós seremos o seu cartaz para o mundo, quem escolhe a mudança é você!
            </p>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="icon search"></div>

            <h4 align="center">Onde e como oferecemos?</h4>
            <br>
            <p style="text-align: justify;
    text-justify: inter-word; max-width: 80%; margin-left: auto; margin-right: auto;">Oferecemos toda a infraestrutura na nuvem, onde todos os seus dados estarão seguros para
                garantir sua integridade. Tudo que você precisa é se cadastrar e ter um computador com acesso à
                internet!</p>

        </div>
    </div>

</main>


<footer>
    <div class="text-center center-block">
        <br/>
        <a href="#">
            <i id="social-fb" class="fa fa-facebook fa-2x social"></i>
        </a>
        <a href="#">
            <i id="social-gp" class="fa fa-google-plus fa-2x social"></i>
        </a>
        <a href="#">
            <i id="social-em" class="fa fa-envelope-square fa-2x social"></i>
        </a>
        <a href="#">
            <i id="social-yt" class="fa fa-youtube fa-2x social"></i>
        </a>

        <div class="row">
            <div class="col-md-10">
                <h4 class="copyright-text-footer" align="left">Icones por FLATICON.<br />© COPYRIGHT 2017 - iNeed, TODOS OS DIREITOS
                    RESERVADOS.</h4>
            </div>
            <div class="col-md-1"><a href="#">Sobre</a></div>
            <div class="col-md-1"><a href="#">Ajuda</a></div>
        </div>

    </div>
</footer>