<mat-card>
  <mat-card-title layout="row" fxLayoutAlign="center center">
    <span class="md-title" style="font-family: Lobster">iNeed</span>
  </mat-card-title>
  <mat-card-subtitle fxLayoutAlign="center center">Conecte-se ao iNeed</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div fxLayout="column">
      <button fxFlex="100" color="#fff" mat-raised-button (click)="signUpWithGoogle()">
        <mat-icon svgIcon="google"></mat-icon>
        <span style="padding-left: 10px">LOGIN COM O GOOGLE</span>
      </button>
      <br/>
      <span fxLayoutAlign="center center">OU</span>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="signUpForm">
      <div fxLayout="column">
        <div fxFlex="100">
          <mat-form-field fxFlex="100">
            <input matInput placeholder="Nome" [formControl]="signUpForm.controls['name']" required>
            <mat-hint align="end">{{ signUpForm.controls['name'].value.length }} / 40</mat-hint>
            <mat-error align="start" *ngIf="signUpForm.controls['name'].hasError('maxlength')">
              O nome está
              <strong>longo demais</strong>
            </mat-error>
            <mat-error *ngIf="signUpForm.controls['name'].hasError('minlength')">
              O nome está
              <strong>curto demais</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100">
          <mat-form-field fxFlex="100">
            <input matInput placeholder="Email" [formControl]="signUpForm.controls['email']" required>
            <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">
              <strong>Informe</strong> seu email
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100">
          <mat-form-field fxFlex="100">
            <input matInput type="password" placeholder="Senha" [formControl]="signUpForm.controls['password']"
                   required>
            <mat-error *ngIf="signUpForm.controls['password'].hasError('required')">
              Você
              <strong>precisa</strong> de uma senha
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="column">
      <button fxFlex="100" mat-raised-button color="accent" [disabled]="!signUpForm.valid"
              (click)="signUpWithEmail(signUpForm.value)">CADASTRAR
      </button>
    </div>
  </mat-card-actions>
</mat-card>
